body {
	color: #222222;
	font-size: 1em;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body section ul{
	text-align: center;
	width: 20%;
	margin: 0 auto;
}

body section ol{
	text-align: center;
	width: 20%;
	margin: 0 auto;
}

#top-banner {
	background-image: url('photo.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 8em 0;
}

#top-banner p {
	text-align: center;
	font-size: 3em;
	color: #FFF8DC;
}

section {
	text-align: center;
}

#navigation {
	height: 165px;
	font-size: 100%;
}

#navigation ul{
	height: 25px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navigation li {
	display: block;
}

#navigation li {
	height: 25px;
	width: 140px;
	padding: 8px 0;
	float: left;
	background-color: #000;
	border-radius: 10px;
	color: #FFF8DC;
	text-align: center;
}

#navigation li a{
	text-decoration: none;
	color: yellow;
}

#navigation li a:hover{
	color: red;
}

#navigation li a:visited{
	color: green;
}

#navigation li a:visited:hover{
	color: red;
}